<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <title>Members Only</title>
</head>
<body>
  <header>
    <%- include ('../partials/header') %> 
  </header>

  <main>
    <h1>Create Message</h1>
    <form action="/create-message" method="POST" class="create-messages">
      <div class="field">
        <label for="title" class="title-label">Title</label>
        <span class="underline"></span>
        <input type="text" name="title" id="title" placeholder="Title"
          value="<%= typeof resub !== 'undefined' ? title : '' %>">
      </div>

      <div class="field">
        <label for="content">Content</label>
        <span class="underline"></span>
        <textarea name="content" id="content" placeholder="Write a message..."
          value="<%= typeof resub !== 'undefined' ? content : '' %>"></textarea>
      </div>

      <input type="password" name="author" id="author" value="<%= currentUser.username %>">

      <button class="create-msg">Submit</button>
    </form>

    <% if (typeof errors !== 'undefined') { %>
      <ul class="errors">
        <% for (let i = 0; i < errors.length; i++) { %>
          <li> <%= errors[i].msg %> </li>
        <% } %> 
      </ul>
    <% } %> 
  </main>

  <footer>
    <%- include ('../partials/footer') %> 
  </footer>
</body>
</html>