<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <title>Members Only</title>
</head>
<body>
  <header>
    <%- include ('../partials/header') %> 
  </header>

  <main>
    <h1>Become A Member</h1>

    <p>Know the secret passcode? Enter it now to gain member privileges.</p>

    <form action="/join" method="POST">
      <label for="passcode">Secret Passcode</label>
      <input type="password" name="passcode" id="passcode" placeholder="Secret Passcode">

      <% if (currentUser) { %>  
        <input type="password" name="id" id="id" value="<%= currentUser._id %>">
      <% } %> 

      <button>Submit</button>
    </form>

    <% if (typeof error !== 'undefined') { %>
      <p>Error: 
        <%= error %> 
      </p>
    <% } %> 

    <% if (currentUser) { %> 
      <p>
        <%= currentUser.username %> 
      </p>
    <% } %> 
  </main>

  <footer>
    <%- include ('../partials/footer') %> 
  </footer>
</body>
</html>