<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../stylesheets/sign-up.css">
  <title>Members Only</title>
</head>
<body>
  <header>
    <%- include('../partials/header') %> 
  </header>

  <main>
    <h1>Sign-Up Form</h1>
    <form class="sign-up" action="" method="POST">
      <div class="field">
        <label for="first_name">First Name</label>
        <span class="underline"></span>
        <input type="text" name="first_name" id="first_name" placeholder="First Name" 
          value="<%= typeof resub != 'undefined' ? first_name : '' %>">
      </div>

      <div class="field">
        <label for="family_name">Family Name</label>
        <span class="underline"></span>
        <input type="text" name="family_name" id="family_name" placeholder="Family Name" 
          value="<%= typeof resub != 'undefined' ? family_name : '' %>">
      </div>

      <div class="field">
        <label for="username">Username</label>
        <span class="underline"></span>
        <input type="text" name="username" id="username" placeholder="Username" 
          value="<%= typeof resub != 'undefined' ? username : '' %>">
      </div>

      <div class="field">
        <label for="password">Password</label>
        <span class="underline"></span>
        <input type="password" name="password" id="password" placeholder="Password">
      </div>

      <div class="field">
        <label for="confirm_password">Confirm Password</label>
        <span class="underline"></span>
        <input type="password" name="confirm_password" id="confirm_password" placeholder="Password">
      </div>

      <!-- <fieldset style="display:none">
        <legend>Membership Status:</legend>

        <div>
          <input type="radio" name="membership_status" id="true" value="true">
          <label for="true">Member</label>
        </div>

        <div>
          <input type="radio" name="membership_status" id="false" value="false" checked>
          <label for="false">Not A Member</label>
        </div>
      </fieldset> -->

      <button>Submit</button>
    </form>

    <p class="error">
      <%= typeof error != 'undefined' ? error : '' %>
    </p>
  </main>

  <footer>
    <%- include('../partials/footer') %> 
  </footer>
</body>
</html>